/*
 *    Dropzone (file upload) configuration
 */

.dz-message {
    color: #cccccc;
}

#icnml_marks_dropzone {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat( 5, 1fr );
    
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
#icnml_marks_dropzone > div {
    border: 1px solid #707070;
    border-radius: 5px;
}

.content{
    background-color: #303e4d;
    margin: 0px;
    
    display: grid;
    grid-template-areas: 
        "left   logo   right"
        "left   upload right"
        "left   version right"
        "left   bottom right";
    
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr auto 1fr;
    
    align-content: stretch;
    width: 100vw;
      height: 100vh;
}

#msger {
    grid-area: upload;
    visibility: hidden;
    z-index: 999;
    padding: 20px;
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
}

#version {
    grid-area: version;
    color: #CCCCCC;
    justify-self: right;
    padding-top: 5px;
}

#uploader {
    grid-area: upload;
}

div.dropzonediv {
    position: relative;
}

div.dropzone {
    position: relative;
    
    border: 1px solid #AAAAAA;
    border-radius: 10px;
    
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    
    overflow-y: auto;
    overflow-x: hidden;
}

.dropzone div {
    position: relative;
}

.dropzone img {
    visibility: hidden;
}

.dropzonetitle {
    position: absolute;
    float: true;
    z-index: 10;
    
    top: -14px;
    left: 30px;
    
    font-size: 14pt;
    background: white;
    
    padding-left: 10px;
    padding-right: 20px;
    
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.03);
}

.dz-image, .dz-size, .dz-error-message {
    position: absolute;
    visibility: hidden;
    float: true;
    left: -1000px;
    top: -1000px;
    height: 0px;
    width: 0px;
}

.dz-preview {
    opacity: 0.5;
    margin-top: 5px;
}

.dz-processing {
    opacity: 1;
}

div.dz-success-mark,
div.dz-error-mark  {
    position: absolute;
    visibility: hidden;
    height: 20px;
    width: 20px;
}
.dz-processing div.dz-success-mark,
.dz-processing div.dz-error-mark  {
    position: absolute;
    right: -5px;
    top: -10px;
}
.dz-complete svg {
    height: 20px;
    width: 20px;
}
.dz-success .dz-error-mark,
.dz-error .dz-success-mark {
    visibility: hidden;
}
.dz-success .dz-success-mark > svg > g > path {
    visibility: visible;
    fill: rgb( 16, 150, 24 );
}

.dz-error .dz-error-mark > svg > g > g {
    visibility: visible;
    fill: rgb( 220, 58, 18 );
}

.dz-error div.dz-image {
    opacity: 0.5;
}
.dz-processing .dz-success-mark,
.dz-processing .dz-error-mark{
    visibility: hidden
}

.dz-complete div.dz-progress {
    visibility: hidden;
}
.dz-processing .dz-progress {
    visibility: visible;
    position: absolute;
    display: flex;
    
    bottom: 0px;
    top: unset;
    
    height: 8px;
    width: 100%;
}
.dz-processing .dz-progress span {
    background-color: rgb( 4, 183, 252, 0.8 );
    border-radius: 5px;
}
