stages:
  - build

image:
  name: gcr.io/kaniko-project/executor:debug
  entrypoint: [ "" ]
  
before_script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"auth\":\"$(echo -n $CI_REGISTRY_USER:$CI_REGISTRY_PASSWORD | base64)\"}}}" > /kaniko/.docker/config.json
    
base:
  stage: build
  script:
    - /kaniko/executor --cache=true --cache-ttl 20h --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination $CI_REGISTRY_IMAGE:${CI_COMMIT_SHORT_SHA} --destination $CI_REGISTRY_IMAGE:latest

