<div class="icnml_navigation">
    <div id="icnml_navigation_uuidsearch">
        <a href="{{ url_for( 'uuid.search_uuid' ) }}">UUID search</a>
    </div>
    <div id="icnml_navigation_submissions">
        <a href="{{ url_for( 'submission.admin_submission_list' ) }}">Submissions</a>
    </div>
    <div id="icnml_navigation_adminsubmissionstable">
        <a href="{{ url_for( 'submission.admin_submission_table' ) }}">Tables</a>
    </div>
    <div id="icnml_navigation_exercises">
        <a href="{{ url_for( 'trainer.exercises_list' ) }}">Trainer folders</a>
    </div>
    <div id="icnml_navigation_afis_batch_assign">
        <a href="{{ url_for( 'afis.batch_assign' ) }}">AFIS assign</a>
    </div>
    <div id="icnml_navigation_cnm_list_all">
        <a href="{{ url_for( 'afis.admin_list_all_cnm_candidates' ) }}">CNM list</a>
    </div>
    <div id="icnml_navigation_pianos">
        <a href="{{ url_for( 'pianos.pianos_actions' ) }}">PiAnoS</a>
    </div>
    <div id="icnml_navigation_newuser">
        <a href="{{ url_for( 'newuser.validate_signin' ) }}">New users</a>
    </div>
</div>
